.competition__story {
  margin: 0 auto;
  text-align: center;
}

.competition__contestant {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: @tablet-width) {
    border: 2px solid @gray;
    border-radius: 1px;
  }
}

.competition__contestant-contacts {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.competition__progress {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.competition__identification {
  border: none;
}

.competition__input-text {
  display: block;

  span {
    @media (min-width: @tablet-width) {
      margin-right: 20px;
    }
  }

  input {
    @media (min-width: @tablet-width) {
      padding: 23px 323px 23px 20px;
    }

    &[name="firstname"] {
      @media (min-width: @tablet-width) {
        width: 100%;
      }
    }

    @media (min-width: @desktop-width) {
      padding: 23px 138px 23px 20px;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
  }
}

.competition__legend {
  padding: 0;
  color: @bright-purplish-red;
  text-transform: uppercase;
  text-align: center;
}

.competition__legend--hide {
  display: none;
}

.competition__legend--visible {
  @media (min-width: @tablet-width) {
    display: block;
  }
}

.competition__checkbox {
  display: block;

  input {
    display: none;
  }

  span {
    position: relative;
  }

  span::before {
    content: "";
    color: @bright-purplish-red;
    display: inline-block;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0;
    width: 35px;
    height: 35px;
    background-color: @white;
    border: 2px solid @gray;
    vertical-align: middle;
  }

  input:checked + span::before {
    background-image: url("../img/icons/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.competition__radio {
  display: block;

  input {
    display: none;
  }

  span {
    position: relative;
  }

  span::before {
    content: "";
    color: @bright-purplish-red;
    display: inline-block;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0;
    width: 37px;
    height: 37px;
    background-color: @white;
    border: 2px solid @gray;
    border-radius: 50%;
    vertical-align: middle;
  }

  input:checked + span::before {
    background-image: url("../img/icons/ellipse.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.competition__text {
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}

.competition__required {
  margin: 0;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  span {
    color: @bright-purplish-red;
  }
}

.competition__button {
  width: 276px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }
}
