.competition__title {
  width: 280px;
  margin: 0 auto;
  padding-top: 54px;
  padding-bottom: 55px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @granite-gray;
  text-align: center;
}

.competition__form {
  width: 320px;
  margin: 0 auto;
}

.competition__contestant {
  margin: 0;
  padding: 0;
  border: none;

  &--gray {
    background-color: @light-grey;
  }
}

.competition__story {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.competition__legend {
  padding: 0;
  color: @bright-purplish-red;
  text-transform: uppercase;
  text-align: center;
}

.competition__text {
  display: block;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}

.competition__required {
  margin: 0;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.competition__required span {
  color: @bright-purplish-red;
}

.competition__button {
  width: 276px;
  margin: 0 auto;
}
