.form-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    width: 936px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 132px;
  }
}

.form-wrapper__all-elements {
  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.form-wrapper__identification {
  order: 1;

  @media (min-width: @desktop-width) {
    margin-right: 74px;
  }
}

.form-wrapper__progress {
  order: 4;
}

.form-wrapper__contestant {
  order: 3;

  @media (min-width: @desktop-width) {
    width: 936px;
  }
}

.form-wrapper__apps {
  order: 2;
}

.form-wrapper__story {
  order: 5;
}

.form-wrapper__button {
  order: 6;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 936px;
  }
}

.form-wrapper__apps,
.form-wrapper__progress {
  background-color: @light-grey;

  @media (min-width: @tablet-width) {
    background-color: @white;
  }
}

.form-wrapper__apps,
.form-wrapper__identification {
  @media (min-width: @desktop-width) {
    width: 431px;
  }
}
