.header {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  background-color: @black;
  background-image: url("../img/back-mobile.jpg");
  background-size: 100%;
  background-repeat: no-repeat;

  &--mobile {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    background-color: @black;
    background-image: url("../img/phone-promo.png"), url("../img/back-mobile.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, top;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: @black-a3;
}

.header__logo {
  margin: 0;
}
