.info-description__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: @black;
}

.info-description__text {
  margin: 0;
  width: 280px;
  text-align: center;
}

.info-description__img {
  margin: 0 auto;
  display: block;
}
