.info {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.info__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 588px;
  }

  @media (min-width: @desktop-width) {
    width: 780px;
  }
}

.info__detals {
  background-color: @light-grey;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    padding-top: 103px;
    padding-bottom: 40px;
  }
}

.info__wrapper-detals {
  @media (min-width: @tablet-width) {
    position: relative;
    padding-left: 310px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 130px;
  }
}

.info__block {
  @media (min-width: @desktop-width) {
    width: 252px;
  }
}

.info__world {
  margin: 43px 0;

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.info__friends {
  display: flex;
  flex-direction: column;
}

.info__title {
  text-align: center;
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  span {
    display: block;
  }

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.info__img {
  display: none;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    display: block;
  }

  &--phone-detals {
    margin-top: 48px;
    margin-bottom: -43px;
    display: block;
    order: 1;

    @media (min-width: @tablet-width) {
      position: absolute;
      bottom: -64px;
      left: 0;
      width: 268px;
      height: 547px;
    }

    @media (min-width: @desktop-width) {
      position: static;
      width: 186px;
      height: 382px;
      order: -1;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
