.info {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  background-color: @white;
}

.info__wrapper {
  width: 280px;
  margin: 0 auto;
}

.info__title {
  text-align: center;
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  span {
    padding: 0;
    padding-top: 48px;
  }
}

.info__detals {
  width: 280px;
  margin: 0 auto;
  background-color: @light-grey;
}
