.photo-load__form {
  padding-bottom: 41px;
}

.photo-load {
  background-color: @light-grey;
}

.photo-load__photo {
  padding-top: 20px;
}

.photo-load__link {
  display: block;

  img {
    display: block;
    margin: 0 auto;
  }
}

.photo-load__filter {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 43px;
  padding: 0;
}

.photo-load__button {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 12px;
}
