.reviews {
  font-weight: 400;
  line-height: 30px;
}

.reviews__item {
  margin: 0;
}

.reviews__author-info {
  width: 280px;
  margin: auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 620px;
  }
}

.reviews__author-name {
  display: block;
  padding-top: 50px;
  font-weight: 700;
  font-size: 18px;
  color: @black;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-age {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    order: 3;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}
