.tariffs {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: @light-grey;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: @granite-gray;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-180deg);
    width: 100%;
    height: 50px;
    background-color: @white;
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.tariffs__wrapper {
  overflow: hidden;
  padding: 0;

  @media (min-width: @tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;
  }
}

.tariffs__slider-toggle {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: @granite-gray-a3;

  &--current {
    width: 10px;
    height: 10px;
    background: @white;
    border: 3px solid @granite-gray;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}
